<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ingredient</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <script src="https://code.jquery.com/jquery-3.3.0.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}" ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            th:src="@{/webjars/popper.js/popper.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container-fluid" style="margin-top: 20px">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item"><a href="#" th:href="@{/recipe/{id}/show(id=${ingredient.recipeId})}">Recipe Details</a></li>
                <li class="breadcrumb-item"><a href="#" th:href="@{/recipe/{id}/ingredients(id=${ingredient.recipeId})}">Ingredients</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ingrgedient</li>
            </ol>
        </nav>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form  th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient'} " method="post">
                <input type="hidden" th:field="*{id}"/>
                    <div class="card mt-3">
                        <div class="card-header">
                            <h1 class="card-title">Edit Ingredient Information</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>Amount:</label>
                                    <input type="number" class="form-control" th:field="*{amount}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>UOM:</label>
                                    <select class="form-control" th:field="*{uom.id}">
                                        <option th:each="uomEach : ${uomList}"
                                                th:value="${uomEach.id}"
                                                th:text="${uomEach.description}">Each</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>